
  <!DOCTYPE html>
             <html>
             <head>
             
             </head>
             <body> 
              <select class="chosen">
                 <option value="ls">Select your disease:</option>
                 <option>Cold</option>
                 <option>Fever</option>
                 <option>Pain</option>
                 <option>Malaria</option>
                 <option>headache</option>
                 </select>
                 <h1>HELLO</h1>
                 <h2>Choose Medicines here--></h2>       
<form #form='ngForm' (ngSubmit)="onSubmit(form)">
    <div class="form-group"> 
        <ejs-multiselect id='localData' name='name'  #local='ngModel' [(value)]='value'[(ngModel)]='value' [dataSource]='countries' [fields]='localFields' [placeholder]='localWaterMark'></ejs-multiselect>
        <button type="submit" ejs-button>+</button>
    </div>
  </form>
                 
                 <script type="text/javascript">
                  $(".chosen").chosen();
                 </script>
 <ul>
<li *ngFor="let item of items">
 <div id = "check_medi" style="display:inline-block">   
    <p> {{item}} </p>
    <label for = "quantity">quantity</label>
    <input type = "text" id = "quantity">
    <label for = "morning">M</label>
    <input type="checkbox"id = "morning">
    <label for = "noon">N</label>
    <input type="checkbox"id = "noon">
    <label for = "evening">E</label>
    <input type="checkbox"id = "evening">
    </div>
</li>
</ul>
</head>
</html>

