<!DOCTYPE html>
             <html>
             <head>
             <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
             <style>
             body{
               background-color:yellow;
             }
             </style>
             </head>
             <body ng-app=""> 
              <select class="chosen">
                 <option value="ls">Select the Medicine:</option>
                 <option>paracitamol</option>
                 <option>Arnica</option>
                 <option>Volini</option>
                 <option>Dolo 650</option>
                 <option>Nostalio 70</option>
                 </select>
                 <div>
                  <h1>HELLO</h1>
                 </div>
                 <div ng-init="myVar = 'app.jk.html'">
                 <h2>Add New Medicine here --></h2> 
                  </div>

                      
<form #form='ngForm' (ngSubmit)="onSubmit(form,medicine,quantity)" method="post" action="jk.html">
 <ul>
 <li>
  <div id = "check_medi" style="display:inline-block"> 
    <label for = "name">Name of Medicine</label>
    <input type = "text" name = "medicine_name" #medicine id="name">
    <label for = "qty">Quantity</label>
    <input type = "text" name = "quantity" #quantity id="qty" >
        <button type="submit">+</button>
    </div>
</li>
</ul>
</form>

</body>
</html>